%flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexCol {
    display: flex;
    flex-direction: column;
}



%mixBtn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    background-color:$primary-color;
    color: $light-color;
    &:hover {
      transform: scale(.98);
    }
  }