.container{
    
    display: flex;
    flex-direction: column;
    
   

    
}

.search_bar{
  padding: 6px;
  
  font-size: 17px;
  border: none;
}

.songList_wrapper{
  display: flex;
  
  margin-top: 15vh;
  max-height: 60vh;
  padding: 1rem 0;
  // border: 1px solid black;
  


}

.song_list_container{
  
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 24px;
   overflow: auto;
   border-radius: 20px;
  //  padding: 0 1rem;
  
}






.search_wrapper{
    @extend %flexRow;
    width: 100vw;
    background-color: $light-color;
    position: fixed;
    height: 10vh;
    
    top:0;
    left: 0;
}



.main_img{
  width: 40vw;
  max-height: 60vh;
  margin:0 1rem;
  border-radius: 1rem;
}

.song_img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-left: 5px;
}


.song_wrapper  {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40vw;
  padding: 1rem;
    
    
    p {
          letter-spacing: 1px;
          color: #312f2f;
          font-size: 1rem;
        }
     
  &:hover{
    border: 2px solid $secondary-color;
    border-radius: 20px;
    
  }
    
}





.song_title{
  display: flex;
  align-items: center;
  
}




.song_name_div{
  width: 15rem;
  margin: 0 5px;
  
}




.upload_div{
  @extend %flexRow;
  
}