.App{
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    margin: 10px 0;
    max-height: 70vh;
    overflow: auto;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 20px;
   

    
}

.search_bar{
  padding: 6px;
  
  font-size: 17px;
  border: none;
}



.song_list_container{
  margin-top: 20vh;
  
  
}






.search_wrapper{
    @extend %flexRow;
    width: 100vw;
    background-color: $light-color;
    position: fixed;
    min-height: 10vh;
    position: fixed;
    top:0;
    left: 0;
}





.song_img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
}


.song_wrapper  {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 40vw;
  height: 8rem;
    
    
    p {
          letter-spacing: 1px;
          color: #312f2f;
          font-size: 1rem;
        }
     
  &:hover{
    border: 2px solid $secondary-color;
    border-radius: 20px;
    
  }
    
}





.song_title{
  display: flex;
  align-items: center;
  
}




.song_name_div{
  width: 15rem;
  margin: 0 5px;
  
}




.upload_div{
  @extend %flexRow;
  
}