.player{
    position: fixed;
    @extend %flexCol;
    width: 100vw;
    min-height: 120px;
    left: 0;
    bottom: 0;
    padding:20px;
    gap: 30px;
}



.timer_div{
    
    width: 100vw;
    background-color:$dark-color;
    height: 10px;
    border-radius: 30px;
    cursor: pointer;
}




.slider{
                
    height: 100%;
    width: 0;
    background-color: $primary-color;
    border-radius: 30px;

}

.next_preview{
    @extend %flexCol;
    width: 50%;
    height: 60%;
    justify-content: space-around;
    
}



.player_atributes{
    display: flex;
    justify-content: space-between;
}

